body {
  font-family: 'frt', sans-serif;
  direction: rtl; }

* {
  font-family: inherit; }

input, a, button {
  font-family: 'frt', sans-serif; }
  input:focus, a:focus, button:focus {
    outline: none;
    text-decoration: none; }
  input:hover, a:hover, button:hover {
    text-decoration: none; }

button {
  cursor: pointer; }
  button:focus, button:active {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

ul.res {
  padding: 0;
  margin: 0;
  list-style: none; }

@font-face {
  font-family: "frt";
  src: url("../fonts/FrutigerLTArabic-55Roman.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-55Roman.woff") format("woff"), url("../fonts/FrutigerLTArabic-55Roman.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-55Roman.eot") format("eot"); }

@font-face {
  font-family: "frtBold";
  src: url("../fonts/FrutigerLTArabic-65Bold.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-65Bold.woff") format("woff"), url("../fonts/FrutigerLTArabic-65Bold.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-65Bold.eot") format("eot"); }

@font-face {
  font-family: "frtLight";
  src: url("../fonts/FrutigerLTArabic-45Light.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-45Light.woff") format("woff"), url("../fonts/FrutigerLTArabic-45Light.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-45Light.eot") format("eot"); }

@font-face {
  font-family: "frtBlk";
  src: url("../fonts/FrutigerLTArabic-75Black.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-75Black.woff") format("woff"), url("../fonts/FrutigerLTArabic-75Black.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-75Black.eot") format("eot"); }

.mrY {
  margin: 80px 0 !important; }
  @media (min-width: 992px) {
    .mrY {
      margin: 50px 0 !important; } }
  @media (min-width: 1200px) {
    .mrY {
      margin: 80px 0 !important; } }
  @media (max-width: 767px) {
    .mrY {
      margin: 60px 0 !important; } }

.main {
  -webkit-transition: .5s;
  transition: .5s; }
  .main.trans {
    -webkit-transform: translateX(-260px);
            transform: translateX(-260px); }

.navover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  visibility: hidden; }
  .navover.open {
    opacity: 1;
    visibility: visible; }

.sideNav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 260px;
  height: 100%;
  background-color: #FFF;
  z-index: 99;
  overflow-y: auto;
  -webkit-transition: .5s;
  transition: .5s; }
  .sideNav::-webkit-scrollbar {
    width: 8px; }
  .sideNav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  .sideNav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3); }
  .sideNav::-moz-scrollbar {
    width: 8px; }
  .sideNav::-moz-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  .sideNav::-moz-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3); }
  .sideNav.open {
    right: 0; }
  .sideNav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%; }
    .sideNav > ul > li {
      position: relative;
      padding: 7px 25px;
      width: 100%; }
      .sideNav > ul > li.lang {
        display: none; }
        @media (max-width: 991px) {
          .sideNav > ul > li.lang {
            display: block; } }
      .sideNav > ul > li:not(:last-child) {
        border-bottom: 1px solid #f3f3f3; }
      .sideNav > ul > li.drpDown {
        background-color: #f2f2f2;
        padding: 0; }
        .sideNav > ul > li.drpDown > a {
          padding: 7px 25px; }
      .sideNav > ul > li a {
        width: 100%;
        display: block;
        font-size: 15px;
        color: #000;
        -webkit-transition: .5s;
        transition: .5s; }
        .sideNav > ul > li a:hover {
          color: #929292; }
      .sideNav > ul > li i {
        position: absolute;
        top: 13px;
        left: 13px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        font-size: 9px;
        color: currentColor;
        -webkit-transition: .5s;
        transition: .5s; }
        .sideNav > ul > li i.open {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg); }
      .sideNav > ul > li .drop {
        width: 100%;
        display: none;
        overflow: visible;
        height: auto;
        background-color: #fafafa; }
        .sideNav > ul > li .drop li {
          padding: 7px 35px; }
          .sideNav > ul > li .drop li:not(:last-child) {
            border-bottom: 1px solid #f3f3f3; }
          .sideNav > ul > li .drop li a {
            font-size: 15px;
            color: #929292;
            -webkit-transition: .5s;
            transition: .5s; }
            .sideNav > ul > li .drop li a:hover {
              color: #000; }

.up {
  background-color: #000; }
  @media (max-width: 991px) {
    .up {
      display: none; } }
  .up .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0; }
  .up .right span {
    color: #FFF;
    font-size: 12px; }
    .up .right span:not(:last-child) {
      margin-left: 40px; }
    .up .right span i {
      font-size: 12px;
      margin-left: 5px; }
  .up .lang a {
    font-size: 12px;
    color: #929292;
    -webkit-transition: .5s;
    transition: .5s; }
    .up .lang a:hover {
      color: #FFF; }

.head .container {
  border-bottom: 1px solid #f2f2f2; }

.head .content {
  padding: 10px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 991px) {
    .head .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.head .bars {
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  cursor: pointer; }
  @media (max-width: 991px) {
    .head .bars {
      display: none; } }
  .head .bars span {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: relative;
    display: block; }
    .head .bars span:after, .head .bars span:before {
      content: '';
      width: 30px;
      height: 2px;
      position: absolute;
      right: 0;
      background-color: #000; }
    .head .bars span:after {
      top: -8px; }
    .head .bars span:before {
      top: 8px; }

.head .search {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 40px;
  margin-top: 25px; }
  @media (max-width: 991px) {
    .head .search {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; } }
  @media (max-width: 767px) {
    .head .search {
      margin-top: 10px; } }
  @media (max-width: 480px) {
    .head .search {
      width: 100%; } }
  .head .search input {
    width: 555px;
    height: 55px;
    border-radius: 100px;
    border: 2px solid #f7f7f7;
    padding: 0 35px;
    color: #b6b6b6;
    -webkit-transition: .5s;
    transition: .5s; }
    .head .search input::-webkit-input-placeholder {
      color: #b6b6b6; }
    .head .search input::-moz-placeholder {
      color: #b6b6b6; }
    .head .search input:-ms-input-placeholder {
      color: #b6b6b6; }
    .head .search input::-ms-input-placeholder {
      color: #b6b6b6; }
    .head .search input::placeholder {
      color: #b6b6b6; }
    .head .search input:focus {
      border: 2px solid #000; }
    @media (min-width: 992px) {
      .head .search input {
        width: 465px; } }
    @media (min-width: 1200px) {
      .head .search input {
        width: 555px; } }
    @media (max-width: 767px) {
      .head .search input {
        width: 435px; } }
    @media (max-width: 480px) {
      .head .search input {
        width: 100%; } }
  .head .search button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #929292;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: .5s;
    transition: .5s; }
    .head .search button:hover {
      background-color: #000; }

.head .menu {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .head .menu .bars {
    display: none; }
    @media (max-width: 991px) {
      .head .menu .bars {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 25px; } }
  .head .menu > div svg path {
    -webkit-transition: .5s;
    transition: .5s;
    fill: #000; }
  .head .menu > div:not(:last-child) svg {
    margin-left: 25px; }
  .head .menu > div.user {
    position: relative; }
    .head .menu > div.user:hover .drop {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    .head .menu > div.user .drop {
      position: absolute;
      top: 100%;
      right: -101%;
      width: 132px;
      min-height: 75px;
      border-radius: 7px;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      background-color: white;
      text-align: center;
      -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      z-index: 9;
      -webkit-transition: .5s;
      transition: .5s; }
      .head .menu > div.user .drop:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-width: 14px;
        border-color: transparent transparent #ffffff;
        border-style: solid;
        top: -19px;
        position: absolute;
        right: 50%;
        -webkit-transform: translateX(50%);
                transform: translateX(50%); }
      .head .menu > div.user .drop ul {
        padding: 10px 13px; }
        .head .menu > div.user .drop ul li {
          padding: 0 12px; }
          .head .menu > div.user .drop ul li a {
            color: #000;
            -webkit-transition: .5s;
            transition: .5s;
            font-size: 14px;
            line-height: 2; }
            .head .menu > div.user .drop ul li a:hover {
              color: #929292; }
          .head .menu > div.user .drop ul li:not(:last-child) {
            border-bottom: 1px solid #f2f2f2; }
          .head .menu > div.user .drop ul li a {
            -webkit-transition: .5s;
            transition: .5s; }
  .head .menu > div.cart {
    position: relative; }
    .head .menu > div.cart span {
      position: absolute;
      top: 50%;
      right: 50%;
      -webkit-transform: translate(45%, -35%);
              transform: translate(45%, -35%);
      color: #000; }

.owl-nav {
  position: absolute;
  top: 49%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  right: 50%;
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px; }
  @media (max-width: 991px) {
    .owl-nav {
      display: none; } }
  .owl-nav button.owl-prev span {
    border-left: 0;
    border-bottom: 0; }
  .owl-nav button.owl-next span {
    border-right: 0;
    border-top: 0; }
  .owl-nav button span {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.owl-dots {
  position: absolute;
  bottom: 40px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  @media (max-width: 767px) {
    .owl-dots {
      bottom: 15px; } }
  .owl-dots button:not(:last-child) {
    margin-left: 5px; }
  .owl-dots button.active span {
    background-color: #000; }
  .owl-dots button span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3); }

.categories {
  margin-top: 20px; }
  @media (max-width: 767px) {
    .categories .col-md-3:last-child .category {
      margin-bottom: 0 !important; } }
  .categories .category {
    text-align: center; }
    @media (min-width: 992px) {
      .categories .category {
        margin-bottom: 25px; } }
    @media (min-width: 1200px) {
      .categories .category {
        margin-bottom: 0px; } }
    @media (max-width: 991px) {
      .categories .category {
        margin-bottom: 25px; } }
    .categories .category:hover .pic img:nth-child(1) {
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
    .categories .category:hover .link {
      color: #929292; }
    .categories .category .pic {
      background-color: #f7f7f7;
      border-radius: 15px;
      height: 270px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative; }
      .categories .category .pic img:nth-child(1) {
        position: relative;
        z-index: 2;
        -webkit-transition: .5s linear;
        transition: .5s linear; }
      .categories .category .pic img:nth-child(2) {
        position: absolute;
        top: 50%;
        right: 50%;
        -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%);
        z-index: 1; }
    .categories .category .link {
      color: #000;
      font-size: 17px;
      margin-top: 15px; }
      .categories .category .link p {
        margin-bottom: 0;
        -webkit-transition: .5s;
        transition: .5s; }

.disc.custom {
  margin-top: 80px; }
  @media (min-width: 992px) {
    .disc.custom {
      margin-top: 50px; } }
  @media (min-width: 1200px) {
    .disc.custom {
      margin-top: 80px; } }
  @media (max-width: 767px) {
    .disc.custom {
      margin-top: 50px; } }
  .disc.custom .disc-head {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px; }
    .disc.custom .disc-head > p {
      font-size: 22px;
      font-family: "frtBold";
      color: #000;
      margin-bottom: 0;
      margin-right: 25px; }
      @media (max-width: 375px) {
        .disc.custom .disc-head > p {
          font-size: 20px; } }
    .disc.custom .disc-head > a {
      font-size: 16px;
      font-family: "frt";
      color: #9f9f9f;
      -webkit-transition: .5s;
      transition: .5s; }
      .disc.custom .disc-head > a:hover {
        color: #000; }
      @media (max-width: 767px) {
        .disc.custom .disc-head > a {
          margin-left: 25px; } }
  .disc.custom .owl-carousel .owl-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .disc.custom .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 105%;
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 30px;
    margin-top: 0;
    color: #c4c4c4;
    padding: 0;
    right: unset; }
    @media (min-width: 992px) {
      .disc.custom .owl-carousel .owl-nav {
        width: 102%; } }
    @media (min-width: 1200px) {
      .disc.custom .owl-carousel .owl-nav {
        width: 105%; } }
    @media (max-width: 991px) {
      .disc.custom .owl-carousel .owl-nav {
        display: none; } }
    .disc.custom .owl-carousel .owl-nav button {
      width: 15px;
      height: 15px;
      border: 2px solid #d0d0d0;
      border-right: none;
      border-bottom: none;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      border-radius: 1px;
      -webkit-transition: .5s;
      transition: .5s; }
      .disc.custom .owl-carousel .owl-nav button.owl-prev {
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg); }
      .disc.custom .owl-carousel .owl-nav button:hover {
        background-color: transparent;
        border: 2px solid #000;
        border-right: none;
        border-bottom: none; }
      .disc.custom .owl-carousel .owl-nav button span {
        display: none; }
  .disc.custom .owl-carousel .owl-dots {
    display: none; }
    @media (max-width: 991px) {
      .disc.custom .owl-carousel .owl-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: unset;
        -webkit-transform: translateY(35px);
                transform: translateY(35px); } }
  .disc.custom .owl-carousel .owl-item img {
    width: initial;
    margin: auto; }
  .disc.custom .owl-carousel .product {
    position: relative;
    width: 214px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    background-color: transparent;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s; }
    .disc.custom .owl-carousel .product:hover {
      background-color: #FFF; }
      .disc.custom .owl-carousel .product:hover .details {
        background-color: #FFF; }
      .disc.custom .owl-carousel .product:hover .over button:first-child, .disc.custom .owl-carousel .product:hover .over button:last-child {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        visibility: visible; }
    .disc.custom .owl-carousel .product .over {
      position: absolute;
      top: 40%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .disc.custom .owl-carousel .product .over button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 0;
        background-color: #929292;
        font-size: 18px;
        color: #FFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: .5s;
        transition: .5s;
        opacity: 0;
        visibility: hidden; }
        .disc.custom .owl-carousel .product .over button:not(:last-child) {
          margin-left: 5px; }
        .disc.custom .owl-carousel .product .over button:hover {
          background-color: black; }
        .disc.custom .owl-carousel .product .over button:first-child {
          -webkit-transform: translateY(10px);
                  transform: translateY(10px); }
        .disc.custom .owl-carousel .product .over button:last-child {
          -webkit-transform: translateY(-10px);
                  transform: translateY(-10px); }
    .disc.custom .owl-carousel .product .pic {
      padding: 0px 10px;
      height: 215px;
      background-color: #FFF;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .disc.custom .owl-carousel .product .detail {
      padding: 0 0 20px 0;
      background-color: transparent; }
    .disc.custom .owl-carousel .product > a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .disc.custom .owl-carousel .product > img {
      width: initial;
      height: 167px;
      display: block;
      margin: auto; }
    .disc.custom .owl-carousel .product .pro-title {
      font-size: 14px;
      font-family: "frtBold";
      color: #000;
      -webkit-transition: .5s;
      transition: .5s; }
      .disc.custom .owl-carousel .product .pro-title:hover {
        color: #929292; }
    .disc.custom .owl-carousel .product span {
      font-size: 16px;
      font-family: "frtBold";
      display: inline-block; }
      .disc.custom .owl-carousel .product span.price {
        color: #000;
        margin-right: 8px; }
      .disc.custom .owl-carousel .product span.discount {
        color: #bbbbbb;
        text-decoration: line-through;
        font-family: "frt"; }

.news {
  padding: 35px 0;
  background-color: #000; }
  .news .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 1200px) {
      .news .row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media (max-width: 991px) {
      .news .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .news .row .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-preferred-size: calc((100% / 11) * 4);
          flex-basis: calc((100% / 11) * 4);
      margin-left: 20px; }
      @media (max-width: 991px) {
        .news .row .content {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-left: 0; } }
      @media (max-width: 767px) {
        .news .row .content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .news .row .content .icon {
        margin-left: 20px; }
        .news .row .content .icon i {
          font-size: 47px;
          color: white;
          line-height: 0.778; }
        @media (max-width: 767px) {
          .news .row .content .icon {
            margin: 0;
            margin-bottom: 15px; } }
      @media (max-width: 767px) {
        .news .row .content .details {
          text-align: center; } }
      .news .row .content .details p {
        font-size: 22px;
        color: white;
        line-height: 1.364;
        font-family: "frtBlk";
        margin-bottom: 5px; }
      .news .row .content .details span {
        font-size: 16px;
        color: white;
        line-height: 1.364; }
    .news .row .form {
      position: relative;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      @media (min-width: 992px) {
        .news .row .form {
          margin: 25px 0; } }
      @media (min-width: 1200px) {
        .news .row .form {
          margin: 0; } }
      @media (max-width: 991px) {
        .news .row .form {
          margin: 25px 0 0;
          width: 70%; } }
      @media (max-width: 480px) {
        .news .row .form {
          width: 90%; } }
      .news .row .form input {
        background-color: white;
        width: 100%;
        height: 55px;
        border: 0;
        border-radius: 100px;
        padding: 0 40px;
        font-size: 15px;
        color: #9f9e9e;
        line-height: 2; }
        .news .row .form input::-webkit-input-placeholder {
          color: #9f9e9e; }
        .news .row .form input::-moz-placeholder {
          color: #9f9e9e; }
        .news .row .form input:-ms-input-placeholder {
          color: #9f9e9e; }
        .news .row .form input::-ms-input-placeholder {
          color: #9f9e9e; }
        .news .row .form input::placeholder {
          color: #9f9e9e; }
        @media (max-width: 480px) {
          .news .row .form input {
            width: 100%; } }
      .news .row .form button {
        width: 40px;
        height: 40px;
        border: 0;
        background-color: transparent;
        font-size: 18px;
        color: #000;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: .5s;
        transition: .5s; }
        @media (min-width: 992px) {
          .news .row .form button {
            left: 30px; } }
        @media (min-width: 1200px) {
          .news .row .form button {
            left: 30px; } }
        @media (max-width: 991px) {
          .news .row .form button {
            left: 20px; } }
        .news .row .form button:hover {
          color: #929292; }

footer {
  padding: 58px 0;
  padding-bottom: 0; }
  @media (max-width: 991px) {
    footer {
      padding: 40px 0; } }
  @media (min-width: 1200px) {
    footer .foot-links {
      text-align: right; } }
  @media (max-width: 991px) {
    footer .foot-links {
      margin-bottom: 15px; } }
  footer .foot-links .collapse {
    display: block; }
    @media (max-width: 991px) {
      footer .foot-links .collapse {
        display: none; } }
    footer .foot-links .collapse.in {
      display: block; }
  footer .foot-links > button {
    font-size: 18px;
    font-family: "frtBold";
    color: #000;
    margin-bottom: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    pointer-events: none; }
    footer .foot-links > button.trans:after {
      content: "\2212"; }
    @media (max-width: 991px) {
      footer .foot-links > button {
        width: 100%;
        margin: auto;
        pointer-events: all;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (max-width: 480px) {
      footer .foot-links > button {
        width: 100%; } }
    footer .foot-links > button:after {
      content: "\002B";
      margin-left: 5px;
      font-size: 18px;
      float: left;
      display: none; }
      @media (max-width: 991px) {
        footer .foot-links > button:after {
          display: block; } }
  @media (max-width: 991px) {
    footer .foot-links ul {
      padding-top: 10px;
      padding-right: 10px; } }
  footer .foot-links ul li:not(:last-child) {
    margin-bottom: 10px; }
  footer .foot-links a {
    font-size: 15px;
    font-family: "frt";
    color: #000;
    -webkit-transition: .5s;
    transition: .5s; }
    footer .foot-links a:hover {
      color: #929292; }
  @media (min-width: 992px) {
    footer .socialsec {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 25px; } }
  @media (min-width: 1200px) {
    footer .socialsec {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-top: 0; } }
  @media (max-width: 991px) {
    footer .socialsec {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 25px; } }
  footer .socialsec p {
    font-size: 18px;
    font-family: "frtBold";
    color: #000;
    margin-bottom: 25px; }
  footer .socialsec .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .socialsec .social a {
      display: block;
      width: 45px;
      height: 45px;
      background-color: #f2f2f2;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #929292;
      font-size: 16px;
      -webkit-transition: .5s;
      transition: .5s; }
      footer .socialsec .social a:not(:last-child) {
        margin-left: 10px; }
      footer .socialsec .social a:hover {
        background-color: #000;
        color: #FFF; }
  footer .pay {
    margin-top: 35px;
    margin-bottom: 50px;
    display: block; }
    @media (max-width: 991px) {
      footer .pay {
        margin-top: 20px;
        margin-bottom: 0px; } }
    footer .pay img {
      margin: auto; }

.end .container {
  border-top: 1px solid #ededed;
  padding: 0; }

.end .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0; }
  @media (max-width: 600px) {
    .end .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 767px) {
    .end .content {
      text-align: center; } }
  .end .content p, .end .content a {
    font-size: 14px;
    color: #929292;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .end .content p, .end .content a {
        font-size: 13px; } }
  @media (max-width: 600px) {
    .end .content a {
      margin-top: 5px; } }
  .end .content a img {
    margin-right: 5px; }

/*# sourceMappingURL=home.css.map */
