body {
  font-family: 'frt', sans-serif;
  direction: rtl; }

* {
  font-family: inherit; }

input, a, button {
  font-family: 'frt', sans-serif; }
  input:focus, a:focus, button:focus {
    outline: none;
    text-decoration: none; }
  input:hover, a:hover, button:hover {
    text-decoration: none; }

button {
  cursor: pointer; }
  button:focus, button:active {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

ul.res {
  padding: 0;
  margin: 0;
  list-style: none; }

@font-face {
  font-family: "frt";
  src: url("../fonts/FrutigerLTArabic-55Roman.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-55Roman.woff") format("woff"), url("../fonts/FrutigerLTArabic-55Roman.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-55Roman.eot") format("eot"); }

@font-face {
  font-family: "frtBold";
  src: url("../fonts/FrutigerLTArabic-65Bold.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-65Bold.woff") format("woff"), url("../fonts/FrutigerLTArabic-65Bold.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-65Bold.eot") format("eot"); }

@font-face {
  font-family: "frtLight";
  src: url("../fonts/FrutigerLTArabic-45Light.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-45Light.woff") format("woff"), url("../fonts/FrutigerLTArabic-45Light.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-45Light.eot") format("eot"); }

@font-face {
  font-family: "frtBlk";
  src: url("../fonts/FrutigerLTArabic-75Black.ttf") format("ttf"), url("../fonts/FrutigerLTArabic-75Black.woff") format("woff"), url("../fonts/FrutigerLTArabic-75Black.woff2") format("woff2"), url("../fonts/FrutigerLTArabic-75Black.eot") format("eot"); }

.menuTriger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(99, 36, 97, 0.6);
  position: fixed;
  top: 25px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 999999;
  display: none; }
  @media (max-width: 991px) {
    .menuTriger {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .menuTriger i {
    color: #ffffff;
    font-size: 20px; }

.navover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  visibility: hidden; }
  .navover.open {
    opacity: 1;
    visibility: visible; }

.sideNav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 290px;
  height: 100%;
  background-color: #FFF;
  z-index: 99;
  overflow-y: auto;
  -webkit-transition: .5s;
  transition: .5s; }
  .sideNav.open {
    right: 0; }
  .sideNav .options {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .sideNav .options .lang a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #dedede;
      color: #FFF;
      font-family: "frtBold"; }
    .sideNav .options .close1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 25px;
      color: #dedede;
      cursor: pointer; }
  .sideNav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 290px;
    padding: 0px 25px 0; }
    .sideNav > ul > li {
      position: relative;
      padding: 7px 15px;
      width: 100%; }
      .sideNav > ul > li:not(:last-child) {
        border-bottom: 1px solid #dedede; }
      .sideNav > ul > li a {
        width: 100%;
        display: block;
        font-size: 16px;
        color: #632461;
        -webkit-transition: .5s;
        transition: .5s; }
        .sideNav > ul > li a:hover {
          color: #b46b93; }
      .sideNav > ul > li i {
        position: absolute;
        top: 13px;
        left: 13px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        font-size: 9px;
        color: currentColor;
        -webkit-transition: .5s;
        transition: .5s; }
        .sideNav > ul > li i.open {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg); }
      .sideNav > ul > li .drop {
        width: 100%;
        padding: 9px 15px;
        display: none;
        overflow: visible;
        height: auto; }
        .sideNav > ul > li .drop li {
          padding: 7px 0; }

.up {
  background-color: #632461; }
  @media (max-width: 991px) {
    .up {
      display: none; } }
  .up .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0; }
  .up .right span {
    color: #FFF;
    font-size: 12px; }
    .up .right span:not(:last-child) {
      margin-left: 40px; }
    .up .right span i {
      font-size: 12px;
      margin-left: 5px; }
  .up .lang a {
    font-size: 12px;
    color: #FFF; }

.head .container {
  border-bottom: 1px solid #f2f2f2; }

.head .content {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 991px) {
    .head .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media (max-width: 375px) {
  .head .logo img {
    height: 85px; } }

.head .search {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 65px;
  margin-top: 25px; }
  @media (max-width: 991px) {
    .head .search {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; } }
  .head .search input {
    width: 555px;
    height: 55px;
    border-radius: 100px;
    border: 2px solid #f7f7f7;
    padding: 0 35px;
    color: #b6b6b6;
    -webkit-transition: .5s;
    transition: .5s; }
    .head .search input::-webkit-input-placeholder {
      color: #b6b6b6; }
    .head .search input::-moz-placeholder {
      color: #b6b6b6; }
    .head .search input:-ms-input-placeholder {
      color: #b6b6b6; }
    .head .search input::-ms-input-placeholder {
      color: #b6b6b6; }
    .head .search input::placeholder {
      color: #b6b6b6; }
    .head .search input:focus {
      border: 2px solid #b46b93; }
    @media (min-width: 992px) {
      .head .search input {
        width: 355px; } }
    @media (min-width: 1200px) {
      .head .search input {
        width: 555px; } }
    @media (max-width: 767px) {
      .head .search input {
        width: 435px; } }
    @media (max-width: 375px) {
      .head .search input {
        width: 300px; } }
  .head .search button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b46b93;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: .5s;
    transition: .5s; }
    .head .search button:hover {
      background-color: #632461; }

.head .menu {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .head .menu > div:hover svg path {
    fill: #b46b93; }
  .head .menu > div svg path {
    -webkit-transition: .5s;
    transition: .5s;
    fill: #632461; }
  .head .menu > div:not(:last-child) svg {
    margin-left: 25px; }
  .head .menu > div.user {
    position: relative; }
    .head .menu > div.user:hover .drop {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px); }
    .head .menu > div.user .drop {
      position: absolute;
      top: 100%;
      right: -101%;
      width: 132px;
      min-height: 75px;
      border-radius: 7px;
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      background-color: white;
      text-align: center;
      -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .5s;
      transition: .5s; }
      .head .menu > div.user .drop:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-width: 14px;
        border-color: transparent transparent #ffffff;
        border-style: solid;
        top: -19px;
        position: absolute;
        right: 50%;
        -webkit-transform: translateX(50%);
                transform: translateX(50%); }
      .head .menu > div.user .drop ul {
        padding: 10px 13px; }
        .head .menu > div.user .drop ul li {
          padding: 0 12px; }
          .head .menu > div.user .drop ul li a {
            color: #632461;
            -webkit-transition: .5s;
            transition: .5s;
            font-size: 14px;
            line-height: 2; }
            .head .menu > div.user .drop ul li a:hover {
              color: #b46b93; }
          .head .menu > div.user .drop ul li:not(:last-child) {
            border-bottom: 1px solid #f2f2f2; }
          .head .menu > div.user .drop ul li a {
            -webkit-transition: .5s;
            transition: .5s; }
  .head .menu > div.cart {
    position: relative; }
    .head .menu > div.cart span {
      position: absolute;
      top: 50%;
      right: 50%;
      -webkit-transform: translate(45%, -35%);
              transform: translate(45%, -35%);
      color: #632461; }

@media (max-width: 991px) {
  .navBar {
    display: none; } }

.navBar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .navBar > ul > li {
    position: relative; }
    .navBar > ul > li i {
      font-size: 8px;
      margin-right: 5px; }
    .navBar > ul > li:not(:last-child) {
      margin-left: 25px; }
    .navBar > ul > li:hover .drop {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0px) translateX(50%);
              transform: translateY(0px) translateX(50%); }
    .navBar > ul > li .drop {
      position: absolute;
      top: 85%;
      right: 40%;
      width: 132px;
      min-height: 75px;
      border-radius: 7px;
      -webkit-transform: translateY(10px) translateX(40%);
              transform: translateY(10px) translateX(40%);
      background-color: white;
      text-align: center;
      -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      z-index: 9;
      -webkit-transition: .5s;
      transition: .5s; }
      .navBar > ul > li .drop:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-width: 14px;
        border-color: transparent transparent #ffffff;
        border-style: solid;
        top: -19px;
        position: absolute;
        right: 50%;
        -webkit-transform: translateX(50%);
                transform: translateX(50%); }
      .navBar > ul > li .drop ul {
        padding: 10px 13px; }
        .navBar > ul > li .drop ul li {
          padding: 0 12px; }
          .navBar > ul > li .drop ul li a {
            color: #632461;
            -webkit-transition: .5s;
            transition: .5s;
            font-size: 14px;
            line-height: 2; }
            .navBar > ul > li .drop ul li a:hover {
              color: #b46b93; }
          .navBar > ul > li .drop ul li:not(:last-child) {
            border-bottom: 1px solid #f2f2f2; }
          .navBar > ul > li .drop ul li a {
            -webkit-transition: .5s;
            transition: .5s; }
    .navBar > ul > li a {
      font-size: 16px;
      line-height: 2.752;
      color: #632461;
      -webkit-transition: .5s;
      transition: .5s; }
      .navBar > ul > li a:hover {
        color: #b46b93; }

.main-slider .owl-nav {
  position: absolute;
  top: 49%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  right: 50%;
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px; }
  @media (max-width: 991px) {
    .main-slider .owl-nav {
      display: none; } }
  .main-slider .owl-nav button.owl-prev span {
    border-left: 0;
    border-bottom: 0; }
  .main-slider .owl-nav button.owl-next span {
    border-right: 0;
    border-top: 0; }
  .main-slider .owl-nav button span {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #aaaaaa;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.main-slider .owl-dots {
  position: absolute;
  bottom: 40px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  @media (max-width: 600px) {
    .main-slider .owl-dots {
      bottom: 10px; } }
  .main-slider .owl-dots button:not(:last-child) {
    margin-left: 5px; }
  .main-slider .owl-dots button.active span {
    background-color: #b46b93; }
  .main-slider .owl-dots button span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #707070; }

.sections {
  margin: 20px 0 10px; }
  .sections .cat {
    position: relative;
    overflow: hidden; }
    .sections .cat:hover img {
      -webkit-transform: scale(1.04);
              transform: scale(1.04); }
    .sections .cat > img {
      width: 100%;
      -webkit-transition: .5s;
      transition: .5s;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    @media (max-width: 991px) {
      .sections .cat {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: auto;
        margin-bottom: 25px; } }
    @media (max-width: 375px) {
      .sections .cat {
        width: initial; } }
    .sections .cat .details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      color: #FFF;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(38%, transparent), to(rgba(180, 107, 147, 0.95)));
      background-image: linear-gradient(to bottom, transparent 38%, rgba(180, 107, 147, 0.95) 100%); }
      .sections .cat .details .title {
        font-size: 24px;
        font-family: "frtBold"; }
      .sections .cat .details .shop {
        position: relative;
        font-size: 14px;
        font-family: "frtLight";
        color: #FFF;
        margin-bottom: 40px; }
        .sections .cat .details .shop:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          width: 50%;
          height: 1px;
          background-color: #FFF;
          -webkit-transition: .5s;
          transition: .5s; }
        .sections .cat .details .shop:hover:after {
          width: 100%; }

.products {
  padding: 50px 0; }
  .products h2 {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 2.002;
    font-family: "frtBold";
    color: #632461; }
  .products .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .products .content .Btn {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .products .content .more {
      width: 170px;
      height: 45px;
      border: 2px solid #eaeaea;
      border-radius: 100px;
      font-size: 15px;
      color: #888888;
      line-height: 2.936;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: .5s;
      transition: .5s; }
      .products .content .more:hover {
        border: 2px solid #b46b93;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .products .product {
    position: relative;
    text-align: center;
    border-radius: 5px;
    -webkit-transition: .5s;
    transition: .5s;
    margin-left: 17px;
    width: 214px;
    height: 289px;
    overflow: hidden;
    transition: .5s;
    margin-bottom: 30px; }
    .products .product:hover .over button:first-child, .products .product:hover .over button:last-child {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
      visibility: visible; }
    .products .product .over {
      position: absolute;
      top: 40%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 0;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .products .product .over button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 0;
        background-color: rgba(99, 36, 97, 0.85);
        font-size: 18px;
        color: #FFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: .5s;
        transition: .5s;
        opacity: 0;
        visibility: hidden; }
        .products .product .over button:not(:last-child) {
          margin-left: 5px; }
        .products .product .over button:hover {
          background-color: rgba(180, 107, 147, 0.95); }
        .products .product .over button:first-child {
          -webkit-transform: translateY(10px);
                  transform: translateY(10px); }
        .products .product .over button:last-child {
          -webkit-transform: translateY(-10px);
                  transform: translateY(-10px); }
    .products .product:hover {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
              box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); }
    @media (min-width: 992px) {
      .products .product:nth-of-type(4n) {
        margin-left: 0; } }
    @media (min-width: 1200px) {
      .products .product:nth-of-type(5n) {
        margin-left: 0; }
      .products .product:nth-of-type(4n) {
        margin-left: 17px; } }
    @media (max-width: 991px) {
      .products .product:nth-of-type(3n) {
        margin-left: 0; } }
    @media (max-width: 767px) {
      .products .product:nth-of-type(2n) {
        margin-left: 17px; } }
    @media (max-width: 600px) {
      .products .product {
        width: 208px; }
        .products .product:nth-of-type(2n) {
          margin-left: 0; }
        .products .product:nth-of-type(3n) {
          margin-left: 17px; } }
    @media (max-width: 375px) {
      .products .product:nth-of-type(3n) {
        margin-left: 0; } }
    .products .product .pic {
      height: 208px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #FFF; }
    .products .product .details {
      margin-top: -25px; }
      .products .product .details a {
        display: block;
        text-align: center;
        font-size: 14px;
        font-family: "frtBold";
        color: #632461;
        margin-top: 20px;
        margin-bottom: 10px;
        -webkit-transition: .5s;
        transition: .5s; }
      .products .product .details span {
        font-size: 16px;
        font-family: "frtBold";
        display: inline-block; }
        .products .product .details span.price {
          color: #b46b93;
          margin-right: 8px; }
        .products .product .details span.disc {
          color: #bbbbbb;
          text-decoration: line-through;
          font-family: "frt"; }

.banner {
  margin-top: 10px; }
  .banner .pic {
    overflow: hidden; }
    .banner .pic:hover img {
      -webkit-transform: scale(1.02);
              transform: scale(1.02); }
    .banner .pic img {
      -webkit-transition: .5s;
      transition: .5s; }

.clients {
  margin-top: 45px;
  margin-bottom: 55px; }
  @media (max-width: 767px) {
    .clients {
      margin-top: 15px;
      margin-bottom: 15px; } }
  .clients .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .clients .client a {
      width: 132px;
      height: 132px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .clients .client a:hover img {
        -webkit-filter: unset;
                filter: unset;
        opacity: 1; }
      .clients .client a img {
        width: initial;
        display: block;
        margin: auto;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        opacity: .5;
        -webkit-transition: .5s;
        transition: .5s; }
  .clients .owl-nav {
    position: absolute;
    top: 45%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    right: 50%;
    width: 105%;
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 992px) {
      .clients .owl-nav {
        width: 100%; } }
    @media (min-width: 1200px) {
      .clients .owl-nav {
        width: 105%; } }
    @media (max-width: 991px) {
      .clients .owl-nav {
        display: none; } }
    .clients .owl-nav button.owl-prev span {
      border-left: 0;
      border-bottom: 0; }
    .clients .owl-nav button.owl-next span {
      border-right: 0;
      border-top: 0; }
    .clients .owl-nav button span {
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #d2d2d2;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  .clients .owl-dots {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    @media (max-width: 991px) {
      .clients .owl-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .clients .owl-dots button:not(:last-child) {
      margin-left: 5px; }
    .clients .owl-dots button.active span {
      background-color: #b46b93; }
    .clients .owl-dots button span {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #707070; }

.news {
  padding: 35px 0;
  background-color: #632461; }
  .news .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 992px) {
      .news .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (min-width: 1200px) {
      .news .row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media (max-width: 991px) {
      .news .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .news .row .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-preferred-size: calc((100% / 12) * 4);
          flex-basis: calc((100% / 12) * 4); }
      @media (max-width: 991px) {
        .news .row .content {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      @media (max-width: 767px) {
        .news .row .content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .news .row .content .icon {
        margin-left: 20px; }
        .news .row .content .icon i {
          font-size: 47px;
          color: white;
          line-height: 0.778; }
        @media (max-width: 767px) {
          .news .row .content .icon {
            margin: 0;
            margin-bottom: 15px; } }
      @media (max-width: 767px) {
        .news .row .content .details {
          text-align: center; } }
      .news .row .content .details p {
        font-size: 22px;
        color: white;
        line-height: 1.364;
        font-family: "frtBlk";
        margin-bottom: 5px; }
      .news .row .content .details span {
        font-size: 16px;
        color: white;
        line-height: 1.364; }
    .news .row .form {
      position: relative;
      -ms-flex-preferred-size: calc((100% / 12) * 5);
          flex-basis: calc((100% / 12) * 5); }
      @media (min-width: 992px) {
        .news .row .form {
          margin: 25px 0; } }
      @media (min-width: 1200px) {
        .news .row .form {
          margin: 0; } }
      @media (max-width: 991px) {
        .news .row .form {
          margin: 25px 0; } }
      .news .row .form input {
        background-color: white;
        width: 458px;
        height: 55px;
        border: 0;
        border-radius: 100px;
        padding: 0 40px;
        font-size: 15px;
        color: #9f9e9e;
        line-height: 2; }
        .news .row .form input::-webkit-input-placeholder {
          color: #9f9e9e; }
        .news .row .form input::-moz-placeholder {
          color: #9f9e9e; }
        .news .row .form input:-ms-input-placeholder {
          color: #9f9e9e; }
        .news .row .form input::-ms-input-placeholder {
          color: #9f9e9e; }
        .news .row .form input::placeholder {
          color: #9f9e9e; }
        @media (max-width: 375px) {
          .news .row .form input {
            width: 300px; } }
      .news .row .form button {
        width: 40px;
        height: 40px;
        border: 0;
        background-color: transparent;
        font-size: 18px;
        color: #531958;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: .5s;
        transition: .5s; }
        @media (min-width: 992px) {
          .news .row .form button {
            left: 30px; } }
        @media (min-width: 1200px) {
          .news .row .form button {
            left: 50px; } }
        @media (max-width: 991px) {
          .news .row .form button {
            left: 20px; } }
        .news .row .form button:hover {
          color: #b46b93; }
    .news .row .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-preferred-size: calc((100% / 12) * 3);
          flex-basis: calc((100% / 12) * 3); }
      .news .row .social a {
        display: block;
        width: 45px;
        height: 45px;
        background-color: #702f76;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #FFF;
        font-size: 18px;
        -webkit-transition: .5s;
        transition: .5s; }
        .news .row .social a:not(:last-child) {
          margin-left: 10px; }
        .news .row .social a:hover {
          background-color: #b46b93; }

footer {
  padding: 58px 0;
  padding-bottom: 0; }
  @media (min-width: 992px) {
    footer .foot-links {
      text-align: center; } }
  @media (min-width: 1200px) {
    footer .foot-links {
      text-align: right; } }
  @media (max-width: 991px) {
    footer .foot-links {
      margin-bottom: 35px; } }
  footer .foot-links .collapse {
    display: block; }
    @media (max-width: 991px) {
      footer .foot-links .collapse {
        display: none; } }
    footer .foot-links .collapse.in {
      display: block; }
  footer .foot-links > button {
    font-size: 16px;
    font-family: "frtBold";
    color: #595959;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0;
    padding: 0;
    pointer-events: none; }
    @media (max-width: 991px) {
      footer .foot-links > button {
        width: 100%;
        margin: auto;
        pointer-events: all;
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (max-width: 480px) {
      footer .foot-links > button {
        width: 100%; } }
    footer .foot-links > button > i {
      -webkit-transition: .5s;
      transition: .5s;
      display: none; }
      @media (max-width: 991px) {
        footer .foot-links > button > i {
          display: block; } }
      footer .foot-links > button > i.trans {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
  @media (max-width: 991px) {
    footer .foot-links ul {
      padding-top: 10px;
      padding-right: 10px; } }
  footer .foot-links ul li:not(:last-child) {
    margin-bottom: 10px; }
  footer .foot-links a {
    font-size: 14px;
    font-family: "frt";
    color: #898989;
    -webkit-transition: .5s;
    transition: .5s; }
    footer .foot-links a:hover {
      color: #632461; }
  @media (min-width: 992px) {
    footer .download {
      margin-top: 35px;
      text-align: center; } }
  @media (min-width: 1200px) {
    footer .download {
      margin-top: 0px;
      text-align: right; }
      footer .download .pics {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  @media (max-width: 991px) {
    footer .download {
      margin-top: 10px;
      text-align: center; }
      footer .download .pics {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  footer .download > p {
    font-size: 18px;
    color: #531958;
    line-height: 1.667;
    font-family: "frtBold";
    margin-bottom: 30px; }
    @media (max-width: 991px) {
      footer .download > p {
        margin-bottom: 15px; } }
  footer .download .pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 992px) {
      footer .download .pics {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 1200px) {
      footer .download .pics {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    footer .download .pics a:first-child {
      margin-left: 5px; }
  footer .pay {
    margin-top: 35px;
    margin-bottom: 50px;
    display: block; }
    @media (max-width: 991px) {
      footer .pay {
        margin-top: 20px;
        margin-bottom: 30px; } }
    footer .pay img {
      margin: auto; }

.end .container {
  border-top: 1px solid #ededed; }

.end .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 600px) {
    .end .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 767px) {
    .end .content {
      text-align: center; } }
  .end .content p, .end .content a {
    font-size: 14px;
    color: #616161;
    line-height: 3.146;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .end .content p, .end .content a {
        line-height: 2.146;
        font-size: 13px; } }
  .end .content a img {
    margin-right: 5px; }

/*# sourceMappingURL=home.css.map */
