body{
    direction: ltr;
}

.up .right span:not(:last-child) {
    margin-right: 40px;
    margin-left: unset;
}

.up .right span i {
    margin-right: 5px;
    margin-left: unset;
}

.head .search button{
    right: 10px;
    left: unset;
}

.head .menu > div:not(:last-child) svg {
    margin-right: 25px;
    margin-left: unset;
}

.head .menu > div.user .drop{
    left: -101%;
    right: unset;
}

.head .bars{
    margin-left: unset;
    margin-right: 15px;
}

@media (max-width: 991px){
    .head .menu .bars {
        margin-right: 25px;
        margin-left: unset;
    }
}

.news .row .form button{
    right: 50px;
    left: unset;
}

@media (max-width: 991px){
    .news .row .form button {
        right: 20px;
        left: unset;
    }
}

@media (min-width: 992px){
    .news .row .form button {
        right: 30px;
        left: unset;
    }
}

@media (min-width: 1200px){
    .news .row .form button {
        right: 30px;
        left: unset;
    }
}

.news .row .content{
    margin-left: 0;
    margin-right: 20px;
}

@media (max-width: 991px){
    .news .row .content {
        margin: 0;
    }
}

.news .row .content .icon {
    margin-right: 20px;
    margin-left: unset;
}

@media (max-width: 767px){
    .news .row .content .icon {
        margin-right: 0px;
    }
}

.news .row .social a:not(:last-child) {
    margin-right: 10px;
    margin-left: unset;
}

@media (min-width: 1200px){
    footer .foot-links {
        text-align: left;
    }
}

footer .socialsec .social a:not(:last-child){
    margin-right: 10px;
    margin-left: unset;
}

.end .content a img {
    margin-left: 5px;
    margin-right: unset;
}

.sideNav > ul > li i{
    right: 13px;
    left: unset;
    transform: rotate(-90deg);
}

.sideNav{
    left: -100%;
    right: unset;
}

.sideNav.open{
    left: 0;
}

.menuTriger{
    left: 30px;
    right: unset;
}